.pagination {
  overflow-x: scroll;

  a {
    padding-left: 6.5px;
    padding-right: 6.5px;
  }

  li:first-child {
    margin-left: auto;
  }
  li:last-child {
    margin-right: auto;
  }
}

.form-subtitle {
  font-size: 14px;
  color: darkgray;
  font-style: italic;
}

input[type="datetime-local"] {
  // width: 200px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  opacity:0.1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,0.25); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25); 
}